@model IEnumerable<ModuloFacturacion.Models.DetalleFactura>
<h4>Factura de Venta</h4>

<table width="100%" style="margin-top: 60px">
    <tr>
        <th colspan="2">
            <h5>Datos del Cliente</h5>
        </th>
    <tr>
        <td width="6%">
            <h6>Cliente</h6>
        </td>
        <td width="94%">
            <h6>@Model.FirstOrDefault().IdFacturaNavigation.IdClienteNavigation.NombreCliente</h6>
        </td>
    </tr>
    <tr>
        <td>
            <h7>Telefono</h7>
        </td>
        <td>
            <h7>@Model.FirstOrDefault().IdFacturaNavigation.IdClienteNavigation.Telefono</h7>
        </td>
    </tr>
    <tr>
        <td>
            <h7>Fec. Nac.</h7>
        </td>
        <td>
            <h7>@Model.FirstOrDefault().IdFacturaNavigation.IdClienteNavigation.FechaNacimiento</h7>
        </td>
    </tr>
</table>

<hr />

<table width="100%">
    <tr>
        <th colspan="2">
            <h5>Datos de la Factura</h5>
        </th>
    <tr>
        <td width="6%">
            <h7>Número</h7>
        </td>
        <td width="94%">
            <h7>@Model.FirstOrDefault().IdFactura</h7>
        </td>
    </tr>
    <tr>
        <td>
            <h7>Fecha</h7>
        </td>
        <td>
            <h7>@Model.FirstOrDefault().IdFacturaNavigation.FechaCreacion</h7>
        </td>
    </tr>
</table>

<br />

<table class="table table-hover">
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Valor Total</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.IdProductoNavigation.ValorUnitario)</td>
            <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
            <td>@Html.DisplayFor(modelItem => item.IdFacturaNavigation.ValorTotal)</td>
        </tr>
    }
    <tr>
        <td colspan="4" align="center">
            @Html.ActionLink("Imprimir", "Pdf", new { id = @Model.FirstOrDefault().IdFactura }, new { miAtributo = "Valor1", @class = "btn btn-Primary" })
        </td>
    </tr>
</table>