@model IEnumerable<ModuloFacturacion.Models.Factura>
<table class="table table-hover">
    <tr>
        <th>Id Factura</th>
        <th>Id Cliente</th>
        <th>Fecha Creacion</th>
        <th>Valor Total</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.IdFactura)</td>
    <td>@Html.DisplayFor(modelItem => item.IdCliente)</td>
    <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
    <td>@Html.DisplayFor(modelItem => item.ValorTotal)</td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdFactura })
        @Html.ActionLink("Detalle", "Details", new { id = item.IdFactura })
        @Html.ActionLink("Crear", "Create", new { id = item.IdFactura })
    </td>
</tr>
    }
</table>